# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model checkpoints
*.pth
*.pt

# Ignore large pickle files if needed
*.pkl

# Ignore macOS system files
.DS_Store

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
